<app-menubar>

    <form #form="ngForm" (ngSubmit)="submitForm(form)">
        <input  type="text" [(ngModel)]="instituicao.id"  name="id"  class="form-control" readonly>
        <input  type="text" [(ngModel)]="instituicao.nome"  name="nome"  class="form-control" required>
        
        {{form.valid}}
        <button>Submit</button>
    </form>
    {{form.value | json }}
    
    <div>
      <!-- Adicionar botões de navegação -->
      <button (click)="firstProduct()">Primeiro Produto</button>
      <button (click)="prevProduct()">Anterior Produto</button>
      <button (click)="nextProduct()">Próximo Produto</button>
      <button (click)="lastProduct()">Último Produto</button>
    </div>
    {{currentProductIndex}}
    <li *ngFor="let item of instituicaos">
    
    [{{item.id}}]  
    <input type="text" [(ngModel)] = "item.nome" >
    <button (click)="instituicaoViu(item.id)">Visualizar</button>
    <button (click)="instituicaoDelete(item.id)">Delete</button>
    </li>
    
    <!-- Adicionar navegação de página -->
    <div>
      <button *ngFor="let page of pages" (click)="onPageChange(page)">
        {{ page }}
      </button>
    </div>
    
    <div>
      <button (click)="firstPage()">Primeira</button>
      <button (click)="prevPage()">Anterior</button>
      <ng-container *ngFor="let page of pages_i">
        <button *ngIf="page !== -1" (click)="goToPage(page)">{{ page }}</button>
        <span *ngIf="page === -1">...</span>
      </ng-container>
      <button (click)="nextPage()">Próxima</button>
      <button (click)="lastPage()">Última</button>
    </div>
    


</app-menubar>