<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()" matTooltip="Menu">
      <mat-icon>menu</mat-icon>
  </button>
  <span>SysInscrição</span>
  <span class="toolbar-item-spacer"></span>
  <button mat-icon-button matTooltip="My Account" [matMenuTriggerFor]="userAccountMenu">
      <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
      <button mat-menu-item routerLink="#">
        <mat-icon>person</mat-icon><span>Carleandro de Oliveira Nolêto</span>
      </button>
      <button mat-menu-item routerLink="#">
          <mat-icon>settings</mat-icon><span>Alterar Senha</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item routerLink="#">
          <mat-icon>exit_to_app</mat-icon>Sair
      </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="app-container" >
  <mat-sidenav #sidenav opened="true" mode="side" [class.mat-elevation-z5]="true" class="app-sidenav">
      <mat-nav-list>
        <mat-list-item routerLink="/instituicao">
            <button mat-button> <mat-icon>home</mat-icon>Instituições</button>
        </mat-list-item>
        <mat-list-item routerLink="/cursos">
              <button mat-button> <mat-icon>dashboard</mat-icon>Cursos</button>
        </mat-list-item>
        <mat-list-item routerLink="/modulos">
            <button mat-button> <mat-icon>dashboard</mat-icon>Módulos</button>
        </mat-list-item>
        <mat-list-item routerLink="/users">
          <button mat-button> <mat-icon>dashboard</mat-icon>Usuários</button>
      </mat-list-item>
        
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <router-outlet>

        <mat-card class="container-fluid">        
            <ng-content></ng-content>
        </mat-card>

      </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar class="mat-footer">
   
    <div class="footer-content">
        <!-- Conteúdo do footer aqui -->
        <p>CTBJ - Desenvolvido pelos alunos do curso técnico de informática</p>
      </div>
</mat-toolbar>